__pycache__/
.ipynb_checkpoints/
*.aux
*.log
*.out
*.toc
*.synctex.gz
.env
.DS_Store
# Supabase local/config folder
supabase/

# Node dependencies
node_modules/

# Node package files
package.json
package-lock.json

reports\phase1_phase2_report.aux
reports\phase1_phase2_report.fdb_latexmk
reports\phase1_phase2_report.fls
reports\phase1_phase2_report.log
reports\phase1_phase2_report.out
reports\phase1_phase2_report.synctex.gz

data/processed.zip