__pycache__/
.ipynb_checkpoints/
*.aux
*.log
*.out
*.toc
*.synctex.gz
.env
.DS_Store
# Supabase local/config folder
supabase/

# Node dependencies
node_modules/

# Node package files
package.json
package-lock.json

data/processed.zip